
    * {
      outline: none;
      border: none;
      margin: 0px;
      padding: 0px;
    }

    html,
    body {
      background: pink url(https://wallpaperaccess.com/full/2432100.jpg) ;
    }

    #paper {
      color: #FFF;
      font-size: 20px;
    }

    #margin {
      margin-left: 12px;
      margin-bottom: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    .card-text1 {

      background-color: rgb(255, 240, 30);
      color: #222;
      font-family: Courier, monospace;
      font-weight: normal;
      font-size: 24px;
      resize: none;
      line-height: 40px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 40px;
      padding-bottom: 34px;
      background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
      background-repeat: repeat-y, repeat-x;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
    }


    #title1 {
      background-color: transparent;
      border-bottom: 3px solid #FFF;
      color: #FFF;
      font-size: 20px;
      font-family: Courier, monospace;
      height: 28px;
      font-weight: bold;
      width: 220px;
      position: center;
    }

    #title3 {
      background-color: transparent;
      /* border-bottom:3px solid #FFF; */
      color: #FFF;
      font-size: 20px;
      font-family: Courier;
      height: 14px;
      font-weight: bold;
      width: 220px;
      align-items: center;
      padding-top: 80px;
      font-stretch: expanded;
    }

    #title4 {
      background-color: transparent;
      /* border-bottom:3px solid #FFF; */
      color: #FFF;
      font-size: 20px;
      font-family: "Lucida Console", Courier, monospace;
      height: 28px;
      font-weight: bold;
      color: navy;
      width: 220px;
      /* position: center; */
      align-items: center;
      padding-bottom: 50px;
      padding-top: 10px;

    }

    #button {
      cursor: pointer;
      margin-top: 20px;
      float: left;
      height: 40px;
      margin: 10px;
      padding-left: 24px;
      padding-right: 24px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #FFF;
      text-shadow: 0px -1px 0px #000000;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border-top: 1px solid #FFF;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
      background-color: #62add6;


    }

    #button:active {
      zoom: 1;
      filter: alpha(opacity=80);
      opacity: 0.8;
    }

    #button:focus {
      zoom: 1;
      filter: alpha(opacity=80);
      opacity: 0.8;
    }

    #wrapper {
      width: 700px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
      margin-bottom: 100px;
    }




    .card {
      position: sticky;
      top: 50px;
      padding-top: 25px;
      border-radius: 15px;
      border-top: #62add6;
      border: #000 5px solid;
    }

    .card-title {
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: oblique;
    }

    .mystyle {
      background-color: white;
      font-size: large;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      margin-bottom: 50px;
    }