<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Dairy</title>
  <style>
    * {
      outline: none;
      border: none;
      margin: 0px;
      padding: 0px;
      font-family: Courier, monospace;
    }

    html,body {
      background:pink url(https://media.gettyimages.com/videos/4k-pastel-heart-animated-background-video-id507695908?s=640x640) repeat;
      
    }

    #paper {
      color: #FFF;
      font-size: 20px;
    }

    #margin {
      color:black;
      font-weight: bolder;
      margin-left: 12px;
      margin-bottom: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    #text {
      width: 500px;
      height: 150;
      background-color: #FFF;
      color: #222;
      font-family: Courier, monospace;
      font-weight: normal;
      font-size: 24px;
      resize: auto;
      line-height: 40px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 45px;
      padding-bottom: 34px;
      background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png) ;
       background-repeat: repeat-y, repeat-x; 
       -webkit-border-radius: 12px;
      border-radius: 12px;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF; 
    }

    #title {
      background-color: transparent;
      border-bottom: 3px solid #FFF;
      color: #FFF;
      font-size: 20px;
      font-family: Courier, monospace;
      height: 28px;
      font-weight: bold;
      width: 220px;
    }

    #title1 {
      background-color: transparent;
      border-bottom: 3px solid #FFF;
      color: #FFF;
      font-size: 20px;
      font-family: Courier, monospace;
      height: 28px;
      font-weight: bold;
      width: 220px;
      position: center;
    }

    #button {
      cursor: pointer;
      margin-top: 20px;
      float: right;
      height: 40px;
      padding-left: 24px;
      padding-right: 24px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #FFF;
      text-shadow: 0px -1px 0px #000000;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
      background-color: #62add6;
      background-image: url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
      background-repeat: repeat-x;
      background-repeat: repeat-y;
    }

    #button:active {
      zoom: 1;
      filter: alpha(opacity=80);
      opacity: 0.8;
    }

    #button:focus {
      zoom: 1;
      filter: alpha(opacity=80);
      opacity: 0.8;
    }

    #wrapper {
      width:min-content;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
      margin-bottom: 100px;
      display:inline-flexbox;
    }

    #signout {
      cursor: pointer;
      margin-top: 20px;
      float: right;
      height: 40px;
      padding-left: 24px;
      padding-right: 24px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #FFF;
      text-shadow: 0px -1px 0px #000000;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
      background-color: red;

    }

    #mydairies {
      cursor: pointer;
      margin-top: 20px;
      float: right;
      
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-shadow: 0px -1px 0px #000000;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 2px 14px #000;
      box-shadow: 0px 2px 14px #000;
       background-color:turquoise;
       color:white;
    }
    h1 {
 font-family: 'Advent Pro';
 font-size: 22px;
 text-align: center;
}
small{
  color: red;
}
p{
  text-align: center;
  font-family:'Lucida Sans';
}
#imgbtn{
position: relative;
}

.mystyle{
  background-color: rgb(255, 255, 255);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: 50px;
}

  </style>

<script >

  $(document).ready(function () {
    $('#title').focus();
    autosize($('#text'));
  });
</script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light mystyle">
  <a class="navbar-brand" href="#">VebDairy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get"> My Dairies</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/forgotPassword">Change Password</a>
        </div>
      </li>
      
    </ul>
              <a class="nav-link" href="/logout">Logout</a>

  </div>
</nav>

  <div class="anim">
    <%if(data.view){%>
      <p>TODAYS QUOTE</p>
  <h1>" <%= data.quote %> "</h1>
  <%}%>
 </div>
 
  <div id="wrapper" >
    
  

    <form id="paper" class="form-group" action="/save" method="POST">

      <div id="margin">Title:<input id="title" type="text" name="title"></div>
      <%if(data.e1){%>
      <small> <%= data.e1 %> </small>
    <%}%>
      <div id="margin"> Date: <input id="title1" type="date" name="date"></div>
      
      <%if(data.e2){%>
        <small> <%= data.e2 %> </small>
      <%}%>

      <label id="margin" for="img">Select image:</label>
      <input type="file" id="img" class="btn btn-info" name="img" accept="image/*">
      <br>
      <br>

      <textarea placeholder="Start here..." id="text" name="main" rows="8"
        style="overflow: hidden; word-wrap: break-word; resize: none; height: 440px; "></textarea>
      <br>
      <%if(data.e3){%>
        <small> <%= data.e3 %> </small>
      <%}%>
          <br>

      <input class="btn btn-primary" type="submit" value="Create">

    </form>
   

  

  </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  
</body>

</html>