<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="E:\dairyweb\css\login.css">


    <!-- <script type="text/JavaScript" href="E:\dairyweb\index.js"</script> -->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script type="text/JavaScript"></script>
    <script rel="text/JavaScript" href="E:\dairyweb\index.js"></script>
    <title>Sign Up</title>
<style>
    html,
    body {
        align-content: center;
        float: center;
        text-align: center;
        background-color: #FFF;
        width: 100%;
        height: 100%;

    }

    .register {
        align-items: center;
        align-content: center;

    }
</style>
</head>
<body>

    <div class="container">

<div class="row">

    <div class="col">

        <h1> </h1>
        <h3> </h3>

    <h1><span style="color:turquoise;">REGISTER </span>to your </h1>
    <h1 style="color:tomato"> <b>ğ•ğ”¼ğ”¹-ğ”»ğ”¸ğ•€â„ğ• !</b></h1>
    <h3> account here!</h3>
                            
                <br>
                <br>
            </div>
        
            </div>

        <div class="row justify-content-center">

            <div class="col">
                
                <div class="card" style="width: 21rem;">
                    <br>
                        <h3><small><span style="color:turquoise;"> Sign up with the basic information </span></small></h3>
<br>
                    <div class="card-body">
                        <form method="POST" action="/signup">
                            <div class="register">
                                <div>
                                    <label>name</label>
                                    <input class="form-control" name="username" id="name" type="text">
                                </div>
                                <div>
                                    <label>email</label>
                                    <input class="form-control" name="email" id="email" type="email">
                                </div>
                                <div>
                                    <label>password</label>
                                    <input class="form-control" name="password" id="password" type="password">


                                </div>
                                <div>
                                    <label> Confrim password</label>
                                    <input class="form-control" id="cpassword" type="password" name="cpassword">
                                    <small color="red"><%=data.msg%> </small>
                                </div>
                                <br>
                                <div>
                                    <button type="submit" class="btn btn-info" id="signupbtn">register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">

                <img src="noted.svg" class="img-fluid">

            </div>
        </div>


    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>